@media screen and (max-width:600px){
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
    .login-container #login-form{
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        position: relative;
        overflow: hidden;
        width: 80%;
        max-width: 100%;
        min-height: 480px;
    }
    .main{
        height: 100vh;
        background-image: url(../img/bg1.jpg);
        background-size: cover;
    }
    .login-container #login-form{
        width: 100%;
    }
    .login-container .login-header{
            font-size:40px;
            color: #535353;
            text-align: center;
            font-weight: 600;
            font-family: sans-serif;
            margin-bottom: 20px;
        }

}