@media screen and (max-width:600px){
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
    .register-container{
        height: 100vh;
        background-image: url(../img/bg1.jpg);
        background-size: cover;
    }
    .register-container #register-form{
        width: 100%;
        background-color: transparent;
    }
    .register-container .register-header{
            background-color: none;
            font-size:40px;
            color: #535353;
            text-align: center;
            font-weight: 600;
            font-family: sans-serif;
            margin-bottom: 20px;
        }
}
