*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.bottom .left{
    bottom: 0;
    left: 0;
}
.cursor-pointer{
    cursor: pointer;
}
.no-pointer{
    cursor: none;

}
@media screen and (max-width:600px){
    span{
        font-weight: bold;
    }
    .smt{
        margin-bottom: 10px;
    }
    .red{
        font-size: 15px;
    }
}